@media screen and (max-width: 320px){
    body{
        margin: 0px;
        padding: 0px;
        background-color: #EAECE5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:'inter';
    }
.sectionOne{
        margin: 0px;
        padding: 0px;
        background-image: url(./assets/images/fundoSite.svg);
    }
    #logo{
        margin: 1rem auto;
        display: block;
        text-align: center;
    }
    .sectionOne h1{
        color: white;
        font-size:2.4rem;
        text-align: center;
        font-weight: 400;
    }
    .sectionOne p{
        color: white;
        font-size:1.2rem;
        text-align: center;
        font-weight: 200;
    }
.sectionTwo{
    margin: 0px;
    padding: 0px;
}
    .sectionTwo ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    .sectionTwo ul li{
        display: flex;
        color: #122235;
        font-size:1.2rem;
        font-weight: 200;
    }
    .sectionTwo img{
        width: 2rem;
        padding: 1rem;
    }
}
.sectionThree{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
    .sectionThree iframe{
        margin: 1.0rem 0 1.0rem 0;
        padding: 0.6rem ;
    }
    #vide{
        display: block;
        text-align: center;
        margin: 1rem auto;
    }
    .sectionThree h1{
        color: #247BA0;
        margin: 0 0 1rem 0;
        padding: 0px;
        font-size:2.0rem;
        text-align: center;
    }
    .sectionThree p{
        color: #383838;
        margin: 0 1rem 1rem 1rem;
        padding: 0px;
        font-size: 1.1rem;
        text-align: center;
    }
.sectionFour{
    margin: 0px;
    padding: 0px;
    background-color: #247BA0;
    width: 100%;
}
    .sectionFour h1{
        margin: 2.5rem 0 2rem 0;
        text-align: center;
        color: #EAECE5;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .sectionFour img{
        display: flex;
        width: 18.2rem;
        margin: 1.3rem auto;
        border-radius: 700px;
    }
    #setas{
        margin: 1rem auto;
        padding: 0;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #Samanta{
        display: none;
    }
    #Leornado{
        display: none;
    }
.sectionFive{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.sectionFive p{
    font-size: 0.9rem;
    padding-top: 2rem;
}
.sectionFive a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
    .sectionFive h1{
        font-size: 1.4rem;
        text-align: center;
        margin: 2.5rem 0 2rem 0;
        color: #383838;
    }
    .sectionFive input{
        background-color: #EAECE5;
        border-radius: 8px;
        border: none;
        width: 13rem;
        height: 2rem;
    }
    .sectionFive input::placeholder{
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    .sectionFive button{
        background-color: #247BA0;
        border: none;
        border-radius:8px;
        width: 13rem;
        height: 2rem;
        color: white;
        font-size: 0.7rem;
        font-weight: bold;
    }
@media screen and (min-width: 321px) and (max-width: 480px){
    body{
        margin: 0px;
        padding: 0px;
        background-color: #EAECE5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:'inter';
    }
    .sectionOne{
        margin: 0px;
        padding: 0px;
        background-image: url(./assets/images/fundoSite.svg);
    }
    #logo{
        margin: 1rem auto;
        display: block;
        text-align: center;
    }
    .sectionOne h1{
        color: white;
        font-size:2.4rem;
        text-align: center;
        font-weight: 400;
    }
    .sectionOne p{
        color: white;
        font-size:1.2rem;
        text-align: center;
        font-weight: 200;
    }
.sectionTwo{
    margin: 0px;
    padding: 0px;
}
    .sectionTwo ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    .sectionTwo ul li{
        display: flex;
        color: #122235;
        font-size:1.2rem;
        font-weight: 200;
    }
    .sectionTwo img{
        width: 2rem;
        padding: 1rem;
    }
}
.sectionThree{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
    .sectionThree iframe{
        margin: 1.0rem 0 1.0rem 0;
        padding: 0.6rem ;
    }
    .sectionThree h1{
        color: #247BA0;
        margin: 0 0 1rem 0;
        padding: 0px;
        font-size:2.0rem;
        text-align: center;
    }
    .sectionThree p{
        color: #383838;
        margin: 0 1rem 1rem 1rem;
        padding: 0px;
        font-size: 1.1rem;
        text-align: center;
    }
.sectionFour{
    margin: 0px;
    padding: 0px;
    background-color: #247BA0;
    width: 100%;
}
    .sectionFour h1{
        margin: 2.5rem 0 2rem 0;
        text-align: center;
        color: #EAECE5;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .sectionFour img{
        display: flex;
        width: 18.2rem;
        margin: 1.3rem auto;
        border-radius: 700px;
    }
    #setas{
        margin: 1rem auto;
        padding: 0;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #Samanta{
        display: none;
    }
    #Leornado{
        display: none;
    }
.sectionFive{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.sectionFive p{
    font-size: 0.9rem;
    padding-top: 2rem;
}
.sectionFive a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
    .sectionFive h1{
        font-size: 1.4rem;
        text-align: center;
        margin: 2.5rem 0 2rem 0;
        color: #383838;
    }
    .sectionFive input{
        background-color: #EAECE5;
        border-radius: 8px;
        border: none;
        width: 13rem;
        height: 2rem;
    }
    .sectionFive input::placeholder{
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    .sectionFive button{
        background-color: #247BA0;
        border: none;
        border-radius:8px;
        width: 13rem;
        height: 2rem;
        color: white;
        font-size: 0.7rem;
        font-weight: bold;
    }
@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        margin: 0px;
        padding: 0px;
        background-color: #EAECE5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:'inter';
    }
    .sectionOne{
        margin: 0px;
        padding: 0px;
        background-image: url(./assets/images/fundoSite.svg);
    }
    #logo{
        margin: 2rem auto;
        display: block;
        text-align: center;
    }
    #logo img{
        width: 13rem;
        height: auto;
    }
    .sectionOne h1{
        color: white;
        font-size:2.5rem;
        text-align: center;
        font-weight: 400;
    }
    .sectionOne p{
        color: white;
        font-size:1.4rem;
        text-align: center;
        font-weight: 200;
        line-height:2rem;
    }
.sectionTwo{
    margin: 0px;
    padding: 0px;
}
    .sectionTwo ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    .sectionTwo ul li{
        display: flex;
        color: #122235;
        font-size:1.5rem;
        font-weight: 200;
    }
    .sectionTwo img{
        width: 3rem;
        padding: 1rem;
    }
}
.sectionThree{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
    .sectionThree iframe{
        margin: 1.0rem 0 1.0rem 0;
        padding: 0.6rem ;
        width: 28rem;
        height: 20rem;
    }
    .sectionThree h1{
        color: #247BA0;
        margin: 0 0 1rem 0;
        padding: 0px;
        font-size:2.2rem;
        text-align: center;
    }
    .sectionThree p{
        color: #383838;
        margin: 0 1rem 1rem 1rem;
        padding: 0px;
        font-size: 1.4rem;
        text-align: center;
    }
.sectionFour{
    margin: 0px;
    padding: 0px;
    background-color: #247BA0;
    width: 100%;
}
    .sectionFour h1{
        margin: 2.5rem 0 2rem 0;
        text-align: center;
        color: #EAECE5;
        font-size: 1.6rem;
        font-weight: bold;
    }
    .sectionFour img{
        display: flex;
        width: 28rem;
        margin: 1.3rem auto;
        border-radius: 700px;
    }
    #setas{
        margin: 1rem auto;
        padding: 0rem 0rem 1rem 0rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #Samanta{
        display: none;
    }
    #Leornado{
        display: none;
    }
.sectionFive{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.sectionFive p{
    font-size: 1.2rem;
    padding-top: 2rem;
}
.sectionFive a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}
    .sectionFive h1{
        font-size: 2rem;
        text-align: center;
        margin: 2.5rem 0 2rem 0;
        color: #383838;
    }
    .sectionFive input{
        background-color: #EAECE5;
        border-radius: 8px;
        border: none;
        width: 20rem;
        height: 3rem;
    }
    .sectionFive input::placeholder{
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    .sectionFive button{
        background-color: #247BA0;
        border: none;
        border-radius:8px;
        width: 20rem;
        height: 4rem;
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
    }
@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        background-color: rgb(36, 34, 34);
    }
}
@media screen and (min-width: 1025px){
    body{
        background-color: rgb(0, 0, 0);
    }
}
  