body{
    margin: 0;
    padding: 0;
    
}
.background-image {
    background-image: url('https://i.ibb.co/W65GqBb/unsplash-d-JCBtd-Uu74.png'); /* URL da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    height: 100%; /* Altura do contêiner (ajuste conforme necessário) */
    color: white;
}

/* Ajuste a altura para diferentes tamanhos de tela */
@media (max-width: 768px) {
    .background-image {
        height: 300px; /* Altura menor para telas pequenas */
        color: #247BA0;
    }
    #textOne{
        padding-top: 5rem;
        font-size: 50px;
        text-align: left;
        padding-left: 7%;
    }
    
}

@media (max-width: 576px) {
    .background-image {
        height: 200px; /* Altura ainda menor para telas muito pequenas */
        color: #247BA0;
    }
    #textOne{
        padding-top: 2rem;
        font-size: 50px;
        text-align: left;
        padding-left: 7%;
    }
}
#logoDnc{
    margin: 3rem;
}
#textOne{
    font-size: 50px;
    text-align: left;
    padding-left: 7%;
}
#textTwo{
    font-size: 25px;
    text-align: left;
    padding-left: 7%;
    padding-bottom: 1rem;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAECE5;
    text-align: center;
    padding: 3rem;
}
.custom-image {
    max-width: 100%; /* Garante que a imagem não exceda o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

